<footer>
   
   <section id="contact">
    <div>
      <h1 class="section-heading mb75px">
        <span><i class="fa-solid fa-address-card"></i></span>
        <span>Contact</span>
      </h1>
    </div>

    <div id="contact-detail">

      <div id="contact-form-container">
        <form id="c-form">
            
          <div>
            <input type="text" id="name" name="name" required placeholder="Your Name">
          </div>

          <div>
            <input type="email" id="c-mail" name="c-mail" required placeholder="Your Email">
          </div>

          <div>
            <textarea rows="2" cols="40" id="message" name="messgae" placeholder="Message"></textarea>
          </div>

          <div>
            <button class="submit-but" type="submit">SEND MESSAGE</button>
          </div>

        </form>

      </div>

      <div id="my-info">

        <h3> Get In touch </h3>
        <p> Hey there, I’m Chinamy Chaturvedi. I’m a student living in Mathura. I am a fan of technology, cricket.
          Experienced Teaching Assistant with a demonstrated history of working in the <span>e-learning</span>
          industry.</p>

        <h3> My Address </h3>
        <div class="my-details-info-container">
          <i class="fas fa-map-marker-alt"></i>
          <span>Delhi, India</span>
        </div>
        <div class="my-details-info-container">
          <i class="fas fa-mobile-alt"></i>
          <span>7055909921</span>
        </div>
        <div class="my-details-info-container">
          <i class="far fa-envelope"></i>
          <span>chinmachat@gmail.com</span>
        </div>

      </div>
    </div>


    <nav>
      <ul class="no-list-style horizontal-list text-center social-icons">
        <li>
          <a href="https://www.linkedin.com/in/chinmay-chaturvedi-3179481b0/" target="_blank"><i
              class="fa-brands fa-linkedin-in"></i></a>
        </li>
        <li>
          <a href="https://stackoverflow.com/users/18793434/chinmay-chaturvedi" target="_blank"><i
              class="fa-brands fa-stack-overflow"></i></a>
        </li>
        <li>
          <a href="https://myaccount.google.com/profile" target="_blank"><i class="fa-brands fa-google-plus-g"></i></a>
        </li>
        <li>
          <a href="https://github.com/Devil200207" target="_blank"><i class="fa-brands fa-github"></i></a>
        </li>
        <li>
          <a href="https://www.codechef.com/users/devil200207" target="_blank"><i
              class="fa-solid fa-code"></i></a></i></a>
        </li>
      </ul>
    </nav>

    <h4>Design by : <a href="https://www.linkedin.com/in/chinmay-chaturvedi-3179481b0/" target="_blank">Chinmay</a></h4>


  </section>

  
</footer>