<h1>Sign In</h1>

<form action="/users/createSession" method="post">
        
    <div>
        <label for="u-mail">Username or e-mail <span>*</span></label><br>
        <input id="u-mail" type="email" name="email" placeholder="xyz@gmail.com" required>
    </div>

    <div>
        <label for="u-password">Password <span>*</span></label><br>
        <input id="u-password" type="password" name="password" placeholder="password" required>
    </div>
    
    <button type="submit">Sign-In</button>
</form>