<link rel= "stylesheet" href= "/css/signup.css">

<div id="main">
    <h1>Sign Up</h1>

    <form action="/users/create" method="post" id="sign-up">
        <i class="fa-solid fa-user" id="inner-i"></i>
        <div>
            <i class="fa-solid fa-user"></i>
            <input id="u-name" type="text" name="name" placeholder="Name *" required>
        </div>
        
        <div>
            <i class="fa-solid fa-envelope"></i>
            <input id="u-mail" type="email" name="email" placeholder="e-mail *" required>
        </div>

        <div>
            <i class="fa-sharp fa-solid fa-lock"></i>
            <input id="u-password" type="password" name="password" placeholder="password *" required>
        </div>

        <div>
            <i class="fa-sharp fa-solid fa-lock"></i>
            <input id="uc-password" type="password" name="confirm_password" placeholder="confirm password *" required>
        </div>

        <button type="submit">Sign-up</button>
    </form>
    <p>
        <a href="/users/auth/google">Google Sign-In/Sign-Up</a>
    </p>
</div>
