<link rel= "stylesheet" href= "/css/signin.css">

<div id="main">
    <h1>Sign In</h1>

    
    <form id="log-in" action="/users/createSession" method="post">
        <i class="fa-solid fa-user" id="inner-i"></i>
        <div id="i-div1">
            <i class="fa-solid fa-user"></i>  
            <input id="u-mail" type="email" name="email" placeholder="xyz@gmail.com" required>
        </div>

        <div>
            <i class="fa-solid fa-lock"></i>
            <input id="u-password" type="password" name="password" placeholder="password" required>
        </div>
        
        <button type="submit">Log-In</button>

        <h4>-----or-----</h4>

        <p id="google-auth">
            <button> <a href="/users/auth/google">Google Sign-In/Sign-Up</a></button>
        </p>
    </form>
    
</div>