<h1>users <%=title%> page </h1>

<p>
    Name: <%= user.name %> 
</p>
<p>
    e-mail: <%= user.email %>
</p>

<form action="/users/sign-out" method="get">
    <button type="submit">Sign Out</button>
</form>