header
{
    display: flex;
    width: 98.9vw;
    margin-top: 0px;
    background-color: rgb(235, 101, 235);
    h3
    {
        margin-left: 25px;
        margin-top: 10px;
        text-align: start;
        color: whitesmoke;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    #ul-1
    {
        position: relative;
        left: 70%;
        margin-left: 50px;
        list-style-type: none;
        display: flex;
        margin-top: 10px;
        margin-bottom: 0%;

        li
        {
            button
            {
                margin-left: 10px;
                font-weight: bold;
                background-color: rgba(rgb(240, 182, 248),0.5);
                border: 1px solid purple;
            }
            a
            {
                text-decoration: none;
                text-transform: capitalize;
                color: whitesmoke;
            }
        }
    }

    #ul-2
    {
        position: relative;
        left: 70%;
        margin-left: 50px;
        list-style-type: none;
        display: flex;
        margin-top: 5px;
        margin-bottom: 0%;

        li
        {
            button
            {
                background-color: rgba(rgb(240, 182, 248),0.5);
                border: 1px solid purple;
            }
            a
            {
                text-decoration: none;
                color: whitesmoke;
            }
        }
    }
}