#main-div
{
    display: flex;
    height: 100vh;
    width: 98.9vw;
    background-color: rgb(247, 218, 223);

    h1
    {
        margin-top: 2px;
        text-align: center;
        font-size: 2.5rem;
        text-decoration: underline;
        text-transform: uppercase;
        font-family: Georgia, 'Times New Roman', Times, serif;
        letter-spacing: 2px;
    }

    #new-post
    {
        margin-left: 20px;
    }

    #post-submit-btn
    {
        position: relative;
        top: -10px;
        background-color: rgb(111, 226, 111);
    }

    #s-post
    {
        width: 70vw;
        height: 100vh;
        overflow: auto;

      li
      {
        list-style: none;

        .uname-post
        {
            margin-left: 12px;
            text-decoration: underline;

            .fa-user-minus
            {
                font-size: .8rem;
                margin-right: 5px;
            }
        }

        .fa-user-secret
        {
            margin-left: -15px;
            margin-right: 10px;
        }
        .fa-trash
        {
            margin-left: 20px;
            color: rgb(245, 142, 142);
        }
      }

        .post-comment
        {
            li
            {
                list-style: none;

                .symbol
                {
                    margin-left: -30px;
                    color: red;
                    margin-right: 10px;
                }

                .fa-trash
                {
                    margin-left: 20px;
                }

                #comment-likes
                {
                    button
                    {
                        border: 0;
                        background: none;
                    }
                }
            }
            #comment-poster
            {
                background-color: rgb(111, 226, 111);
            }
        }

    }
    #s-friends
    {
        h4
        {
            color: whitesmoke;
            text-align: center;
            margin-top: 2px;
            text-decoration: underline;
            text-transform: uppercase;
            font-family: cursive;
            letter-spacing: 2px;
            
         }
        background-color: rgb(62, 60, 60);
        width: 30vw;
        height: 100vh;
        i
        {
            color: whitesmoke;
        }
        a
        {
            text-decoration: none;
            color: #ac6fe4;
            font-family: monospace;
            font-weight: bold;
            text-transform: capitalize;
        }
    }
}