header {
  display: flex;
  width: 98.9vw;
  margin-top: 0px;
  background-color: #eb65eb;
}

header h3 {
  margin-left: 25px;
  margin-top: 10px;
  text-align: start;
  color: whitesmoke;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header #ul-1 {
  position: relative;
  left: 70%;
  margin-left: 50px;
  list-style-type: none;
  display: flex;
  margin-top: 10px;
  margin-bottom: 0%;
}

header #ul-1 li button {
  margin-left: 10px;
  font-weight: bold;
  background-color: rgba(240, 182, 248, 0.5);
  border: 1px solid purple;
}

header #ul-1 li a {
  text-decoration: none;
  text-transform: capitalize;
  color: whitesmoke;
}

header #ul-2 {
  position: relative;
  left: 70%;
  margin-left: 50px;
  list-style-type: none;
  display: flex;
  margin-top: 5px;
  margin-bottom: 0%;
}

header #ul-2 li button {
  background-color: rgba(240, 182, 248, 0.5);
  border: 1px solid purple;
}

header #ul-2 li a {
  text-decoration: none;
  color: whitesmoke;
}
